<!--temporaral link-->

<link href="~/css/register.css" rel="stylesheet">
<script src="~/js/register.js"></script>

<h1>Register New Car</h1>


<div class="register-form">
<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Daily Price</label>
        <div class="col-8">
            <input type="number" id="txtPrice" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Id#</label>
        <div class="col-8">
            <input type="number" id="Id" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Make</label>
        <div class="col-8">
            <input type="string" id="Make" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Model</label>
        <div class="col-8">
            <input type="text" id="Model" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Year</label>
        <div class="col-8">
            <input type="number" id="Year" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Capacity</label>
        <div class="col-8">
            <input type="number" id="PassengerCapacity" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Mileage</label>
        <div class="col-8">
            <input type="number" id="Miles" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Image</label>
        <div class="col-8">
            <input type="imageUrl" id="img" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">In Stock</label>
        <div class="col-8">
            <input type="number" id="Stock" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">HP</label>
        <div class="col-8">
            <input type="text" id="hp" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Cylinders</label>
        <div class="col-8">
            <input type="number" id="Cyl" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Description</label>
        <div class="col-8">
            <input type="text" id="Desc" class="form-control">
        </div>
    </div>
</div>

<button class="btn btn-primary">Save!</button>
</div>